@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PoppinsMedium;
  font-weight: 400;
  font-display: auto;
  src: url(../public/fonts/Poppins-Medium.ttf) format("ttf");
}

@font-face {
  font-family: PoppinsRegular;
  font-weight: 400;
  font-display: auto;
  src: url(../public/fonts/Poppins-Regular.ttf) format("ttf");
}

.wrapper {
  @apply p-6 bg-white my-5 rounded-md;
}

.main-gray-color {
  @apply text-zinc-700;
}

.light-gray-color {
  @apply text-zinc-500;
}

.main-color {
  @apply text-slate-800 font-bold font-PoppinsMedium;
}
