@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PoppinsMedium;
  font-weight: 400;
  font-display: auto;
  src: url(../public/fonts/Poppins-Medium.ttf) format("ttf");
}

@font-face {
  font-family: PoppinsRegular;
  font-weight: 400;
  font-display: auto;
  src: url(../public/fonts/Poppins-Regular.ttf) format("ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(236, 239, 243);
}

.wrapper {
  @apply p-6 bg-white mt-5 rounded-md;
}

.main-gray-color {
  @apply text-zinc-700;
}

.light-gray-color {
  @apply text-zinc-500;
}

.main-color{
  @apply text-slate-800 font-bold font-PoppinsMedium
}
